<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Welcome</li>
    </ol>
  </div>

  <div class="jumbotron welcome">
    <div class="container">
      <h1>Welcome to EPS Clubs</h1>
      <p>Here, you can find information about clubs at Elgin Park and keep track of your volunteer hours.</p>
      <p><a href="/signup" class="btn btn-primary btn-lg" role="button">
        {{#if user}}Dashboard{{else}}Sign Up{{/if}}
      </a></p>
    </div>
  </div>
</div>
{{>scripts}}
